*{
    color: #FFFFFF;
}

.container {
    max-width: 1300px;
    margin-top: 1px;
    padding-top: 150px;
}

#titlebrand{
    font-size: 50px;
    span{
        color: #97F9E7;
    }
}

#textFootertitle{
    font-size: 16px;
    span{
        color: #97F9E7
    }
}

#imgairplane{
    max-width: 550px; 
    height: auto;
}

#wavetop{
    padding: 0px;
}