<div class="container">
    <div class="row">
        <div class="col-md-10 offset-md-1">
            <div class="row">
                <div class="col-md-8">
                    <h1 class="text-start mt-5" id="titlebrand">
                        Your personal online <br> <span>METAR</span> planner
                    </h1>
                    <p class="text-start mt-0" id="textFootertitle">
                        With this tool you will be able to plan the <span>weather</span> for your route
                    </p>
                </div>
                <div class="col-md-4 d-flex align-items-center justify-content-end">
                    <img id="imgairplane" src="../../../assets/airplane.svg" alt="airplane" class="img-fluid">
                </div>
            </div>
        </div>
        <img src="../../../assets/wavetop.svg" alt="wavetop" id="wavetop">
    </div>

</div>
