*{
    color: #FFFFFF;
    background-color: #BBBBBB;
}

.container{
    max-width: 1300px;
}

.bgcol{
    background-color: #1A1617;
}

#iconsapp{
    img{
        background-color: #1A1617;
    }
}

#sup{
    padding-top: 20px;
    color: #97F9E7;
    font-size: 32px;
}

#legal{
    padding-top: 20px;
    color: #97F9E7;
    font-size: 32px;
}