<div class="container bgcol">
    <div class="row bgcol">
        <div class="col-md-10 offset-md-1">
            <div class="row bgcol">
                <div class="col-md-12 bgcol">
                    <div class="row">
                        <div class="col-md-6 bgcol">
                            <p class="text-start mt-5 bgcol" id="iconsapp">
                                <img src="../../../assets/github.svg" alt="git">Github Project<br><img src="../../../assets/fb.svg" alt="git">Facebook<br><img src="../../../assets/tw.svg" alt="git">Twitter
                            </p>
                        </div>
                        <div class="col-md-6 bgcol">
                            <div class="row">
                                <div class="col-md-6 bgcol">
                                    <h1 class="text-end mt-0 bgcol" id="sup">
                                        Support
                                    </h1>
                                    <p class="text-end bgcol">
                                        Customer Service
                                    </p>
                                </div>
                                <div class="col-md-6 bgcol">
                                    <h1 class="text-start mt-0 bgcol" id="legal">
                                        Legal
                                    </h1>
                                    <p class="text-start bgcol">
                                        Terms of Services
                                    </p>
                                    <p class="text-start bgcol">
                                        Privacy Policy
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-end bgcol">
        <p class="bgcol">
            © FlyMetar 2024. All rights reserved.
        </p>
    </div>
</div>
